# Ignore everything inside private_src except README.md
private_src/*
!private_src/README.md

# Ignore everything inside data/private except README.md
data/private/*
!data/private/README.md

# General rules for ignoring unwanted files
# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
desktop.ini

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore virtual environment
venv/
env/
*.env

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore compiled files
*.class
*.o
*.so
*.out

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore node_modules (if applicable)
node_modules/

# Ignore archive files
*.zip
*.tar.gz
*.rar
